@font-face {
    font-family: "CustomFont";
    src: url(orange_juice.ttf), local(Arial), local(Helvetica), local(sans-serif);
}

:root {
    --font-size: 20px;
    --black: #000000;
    --pink: #fe8a71;
    --blue: #2c8cb8;
    --yellow: #f99820;
    --gray: #4a4e4d;
}

* {
    background-color: antiquewhite;
    font-size: var(--font-size);
}

#cafe_pic {
    display: block;
    margin-left: 60px;
    margin-right: 60px;
    width: 50%;
}

#doorbell {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body h1 {
    font-family: "CustomFont";
    font-size: 5em;
    text-align: center;
    color: antiquewhite;
    border: 5px solid var(--yellow);
    border-radius: 12px;
    padding: 20px;
    background-image: url(background.jpeg);
}

body h2 {
    text-align: center;
    color: var(--blue);
    font-size: 2em;
}

.Choices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

.btn {
    width: 100px;
    height: 50px;
    color: var(--blue);
    border: 5px solid var(--blue);
    border-radius: 12px;
    transition: border 1s;
}

.btn:hover {
    border: 10px solid var(--pink);
}

.animal_pic {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.animal_pic:hover {
    border: 5px solid var(--pink);
}

.Canines {
    text-align: center;
    color: var(--gray);
    border: 5px solid var(--yellow);
}

.Felines {
    text-align: center;
    color: var(--gray);
    border: 5px solid var(--yellow);
}

.Otters {
    text-align: center;
    color: var(--gray);
    border: 5px solid var(--yellow);
}

.Coming_soon {
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    color: var(--gray);
}

.Coming_soon h3 {
    font-size: 2em;
}

.Operation_Info {
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    color: var(--gray);
}

.Operation_Info h3 {
    font-size: 2em;
}

#hours {
    background-color: var(--yellow);
    margin-left: auto;
    margin-right: auto;
}

aside {
    color: var(--gray);
    text-align: center;
}

aside h3 {
    font-size: 2em;
}

@keyframes voting {
    0% {background-color: var(--pink);}
    50% {background-color: var(--yellow);}
    100% {background-color: var(--blue);}
}

.vote {
    animation-name: voting;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#top_three {
    color: var(--pink)
}

#tiger_vid {
    transform: scale(1.1);
}

footer {
    text-align: center;
}

#contact_us {
    font-family: "CustomFont";
    width: 150px;
    height: 50px;
    color: var(--blue);
    border: 5px solid var(--blue);
    border-radius: 12px;
}