@font-face {
    font-family: "CustomFont";
    src: url(orange_juice.ttf);
    fallback: sans-serif;
}

:root {
    --font-size: 16px;
    --black: #000000;
    --pink: #fe8a71;
    --blue: #2c8cb8;
    --yellow: #f99820;
    --gray: #4a4e4d;
}

* {
    background-color: antiquewhite;
    font-size: var(--font-size);
}

#cafe_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#doorbell {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body h1 {
    font-family: "CustomFont";
    font-size: 5em;
    text-align: center;
    color: antiquewhite;
    border: 5px solid var(--yellow);
    border-radius: 12px;
    padding: 20px;
    background-image: url(background.jpeg);
}

body h2 {
    text-align: center;
    color: var(--blue)
}

.Choices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 60px;
}

.btn {
    font-family: "CustomFont";
    width: 100px;
    height: 50px;
    color: var(--blue);
    border: 5px solid var(--blue);
    border-radius: 12px;
    transition: border 1s;
}

.btn:hover {
    border: 10px solid var(--pink);
}

.Canines {
    text-align: center;
    color: var(--gray);
    border: 5px solid var(--yellow);
}

.Felines {
    text-align: center;
    color: var(--gray);
    border: 5px solid var(--yellow);
}

.Otters {
    text-align: center;
    color: var(--gray);
    border: 5px solid var(--yellow);
}

.Coming_soon {
    text-align: center;
    color: var(--gray);
    margin-bottom: 20px;
}

.Operation_Info {
    text-align: center;
    color: var(--gray);
    margin-bottom: 20px;
}

#hours {
    background-color: var(--yellow);
    margin-left: auto;
    margin-right: auto;
}

aside {
    text-align: center;
}

#vote {
    background-color: var(--pink);
}

#top_three {
    color: var(--pink)
}

footer {
    text-align: center;
}

#contact_us {
    font-family: "CustomFont";
    width: 150px;
    height: 50px;
    color: var(--blue);
    border: 5px solid var(--blue);
    border-radius: 12px;
}