* {
    background-color: rgb(43, 43, 43);
    font-size: 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3em;
    color: white;
}

.post {
    border: solid white 1px;
    margin-bottom: 20px;
}

#title {
    color: white;
    font-family: "Fira Sans", sans-serif;
    word-break: break-word;
    font-weight: 800;
    font-size: 18px !important;
    font-stretch: extra-expanded;
    margin-left: 20px;
}

#date {
    color: gray;
    font-family: "Fira Sans", sans-serif;
    word-break: break-word;
    font-weight: 300;
    font-size: 18px !important;
    font-stretch: extra-expanded;
    margin-left: 20px;
}

#summary {
    color: gray;
    font-family: "Fira Sans", sans-serif;
    word-break: break-word;
    font-weight: 300;
    font-size: 18px !important;
    font-stretch: extra-expanded;
    margin-left: 20px;
}

.editButton {
    margin-left: 20px;
    color: white;
}

.deleteButton {
    margin-left: auto;
    color: white;
}

#addPostButton {
    color: white;
    margin: auto;
    font-size: 2em;
    display: block;
}

#postDialog form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    border: solid white 3px;
    width: 30%;
    height: 30%;
}

#dialogTitle {
    text-align: center;
}

#postTitle {
    color: white;
    margin-bottom: 10px;
    width: 80%
}

#postDate {
    color: white;
    margin-bottom: 10px;
    width: 80%
}

#postSummary {
    color: white;
    margin-bottom: 10px;
    width: 70%
}

#submitButton {
    color: white;
}

#cancelButton {
    color: white;
}